.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.home-container{
  top: 0;
  height:100vh;
  width:80%;

  overflow-x: hidden;
  left:300px;
  text-align: center;
  /* margin-left: 300px; */
  padding:30% 5% 5% 5%;
/* left: 300px; */
  /* background:url("../assets/image/back.jpg")top center; */
  /* background-size: cover; */
  background:black;
  opacity: 0.7;
}
.iam-style{
  color:white;
  font-size:20px;
  font-weight: 700;
}
.name-style{
  font-size:50px;
  font-weight: bolder;
  color:white;
}

.nav-title-style{
  font-size:30px;
  font-weight:bolder;
  color:#002f56;
}

.about-container{
  background:white;
  /* height:100vh; */
  width:80%;
  left:300px;
  padding: 20px;

  /* margin-left: 300px; */
}
.social-icon:hover{
  color:rgb(0, 119, 255);
  /* border: 5px solid whitesmoke; */
  /* border-radius:50%; */
  border: 4px solid  rgb(0, 119, 255);
}
.social-icon{
    font-size:25px;
    align-items: center;
    color:  #f0f2f4;
    background: #33385a;
    text-align: center;
    margin:5px;
    /* box-shadow:2px 2px 2px 2px #888888; */
    border: 4px solid  #8d8f91;
    /* border-radius:110%; */
}

.sider-menu-container{
  margin-top:100px;
}
.tag-style {

  margin: 10px;
}
.logo {
  height: 120px;
  width: 120px;
  margin:10% 25% 5% 25%;
  border:5px solid #33385a;
  /* box-shadow: 5px 5px #888888; */
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.3);
}

.icon-container{
  padding:10px 10% 10px 10%;
  width: 100%;
}
.site-layout-background{
  background:url(../assets/image/back.jpg) top center;
  background-size: cover;
  /* left:300px; */
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
.site-layout .site-layout-background {
  background: rgb(212, 0, 0);
  /* margin-left: 210px; */
}

.nav-style {
  font-size: 20px;
}
.back-picture{
  width:100%;
  opacity: 0.5;
  height:100vh;
  position: relative;
}
.nav-line-style{
  background:#c0003d;
  top:0;
  height:3px;
  width:40px;
  margin-bottom: 25px;
}
h2 h3 h4{

  font-family: "Poppins", sans-serif;
}
h1{
margin-top:15px;
  font-family: "Raleway", sans-serif;
}
.meAbout-style{
  /* margin-top: 15px; */
  width: 300px;
  border-radius: 5%;
  box-shadow: 5px 4px #33385a;
}
h3{
  font-size:15px;
  font-weight:bolder;
}
il{
  font-size:15px;
  margin-top: 30px;
}
.arrow-icon{
  font-size:20px;
  color:#c0003d;
  font-weight:bolder;
  margin-top: 10px;

}
.about-grid-style{
  display: grid;
  grid:
  'myArea myArea';
  grid-gap: 10px;
  padding: 10px;
}